/* imports */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Raleway:300,500,800&display=swap&subset=korean');
/* font preview-setup & html import
https://fonts.google.com/specimen/Noto+Sans+KR?selection.family=Noto+Sans+KR|Raleway:300,500,800
*/

/* global variables */
/* $font-main-kr: 'Noto Sans KR', sans-serif; */
$font-main: 'Raleway', 'Noto Sans KR', sans-serif;
$color-white: #f9f9f9;
$color-black: #2d3142;
$color-darkgray: #4f5d75;
$color-gray: #f9f9f9;
$color-orange: #ef8354;

$color-background: $color-white;
$color-background-alt: $color-black;
$color-font: $color-black;
$color-font-alt: $color-white;
$z-index-menu: 2;
$z-index-above-menu: 3;
$margin-page: 30px;

/* global mixins */
@custom-media --mobile (max-width: 767px);
@custom-media --desktop (min-width: 768px);

@define-mixin horizontal-list {
  padding-left: 0;
  li {
    display: inline;
  }
}
@define-mixin full-screen {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height:100%;
}
@define-mixin right-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}
@define-mixin left-screen {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}
@define-mixin horizontal-screen {
  left: 0;
  right: 0;
  width: 100%;
}
@define-mixin font-header1 {
  font-family: $font-main;
  font-weight: 800;
  font-size: 48px;
}
@define-mixin font-header2 {
  font-family: $font-main;
  font-weight: 800;
  font-size: 24px;
}
@define-mixin font-content {
  font-family: $font-main;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
}

/* default settings */
.hidden {
  display: none;
}

HTML, body, * {
  color: $color-font;
  /* zeroing out for browser inconsistencies*/
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
}

body {
  background-color: $color-background;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

li, a {
  text-decoration: none;
}

#menu {
  > button {
    position: fixed;
    top: 50px;
    right: 50px;
    position: fixed;
    z-index: $z-index-above-menu;
    background-color: transparent;
  }
}

@media (--mobile) {
 #menu-expanded {
   @mixin full-screen;
 } 
}
@media (--desktop) {
  #menu-expanded {
    @mixin right-screen;
  }
}

#menu-expanded {
  z-index: $z-index-menu;
  background-color: $color-black;
  @mixin font-header1;
  li {
    margin-top: 70px;
    margin-left: 90px;
    list-style-type: none;
  }
  * {
    color: $color-white;
  }
}