/* imports */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Raleway:300,500,800&display=swap&subset=korean');
/* font preview-setup & html import
https://fonts.google.com/specimen/Noto+Sans+KR?selection.family=Noto+Sans+KR|Raleway:300,500,800
*/

/* global variables */
/* $font-main-kr: 'Noto Sans KR', sans-serif; */
$font-main: 'Raleway', 'Noto Sans KR', sans-serif;
$color-white: #f9f9f9;
$color-black: #2d3142;
$color-darkgray: #4f5d75;
$color-gray: #d8d8d8;
$color-orange: #ef8354;

$color-background: $color-white;
$color-background-alt: $color-black;
$color-font: $color-black;
$color-font-alt: $color-white;
$z-index-menu: 2;
$z-index-above-menu: 3;
$margin-page: 30px;

/* global mixins */
@custom-media --mobile (max-width: 767px);
@custom-media --desktop (min-width: 768px);

@define-mixin horizontal-list {
  padding-left: 0;
  li {
    display: inline;
  }
}
@define-mixin full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@define-mixin right-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}
@define-mixin left-screen {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}
@define-mixin horizontal-screen {
  left: 0;
  right: 0;
  width: 100%;
}
@define-mixin font-header1 {
  font-family: $font-main;
  font-weight: 800;
  font-size: 48px;
}
@define-mixin font-header2 {
  font-family: $font-main;
  font-weight: 800;
  font-size: 24px;
}
@define-mixin font-content {
  font-family: $font-main;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
}

/* default settings */
.hidden {
  display: none;
}

html,
body,
* {
  color: $color-font;
  /* zeroing out for browser inconsistencies*/
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
}

body {
  background-color: $color-background;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

li,
a {
  text-decoration: none;
}

#menu {
  > button {
    position: fixed;
    z-index: $z-index-above-menu;
    background-color: transparent;
    width: 60px;
    height: 45px;
    cursor: pointer;
  }
}

@media (--mobile) {
  #menu-expanded {
    /* @mixin full-screen; */
    li {
      margin-top: 40px;
      margin-left: 50px;
    }
  }
  #menu > button {
    top: 20px;
    right: 20px;
  }
  #menu .menu--link-icons {
    max-width: 180px;
  }
}
@media (--desktop) {
  #menu-expanded {
    /* @mixin right-screen; */
    li {
      margin-top: 70px;
      margin-left: 90px;
    }
  }
  #menu > button {
    top: 50px;
    right: 50px;
  }
  #menu .menu--link-icons {
    max-width: 300px;
  }
}

#menu .menu--link-icons {
  display: flex;
  justify-content: space-between;
}

#menu-expanded {
  z-index: $z-index-menu;
  background-color: $color-black;
  @mixin full-screen;
  li{
    list-style-type: none;
    @mixin font-header1;
    &:last-child {
      @mixin font-content;
    }
  }
  * {
    color: $color-white;
  }
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: $color-orange;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.searchbox {
  margin-bottom: 40px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  input {
    flex-shrink: 1;
    @mixin font-content;
    width: calc(100% - 30px);
    height: 30px;
    border-bottom: .5px solid $color-gray;
    background-color: transparent;
    transition: .3s;
    margin-bottom: 20px;
  }
  input:hover, input:focus {
    background-color: $color-gray;
    border-bottom: .5px solid $color-black;
    transition: .3s;
  }
  img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }
}