@import 'common.css';

@media (--desktop) {
  .titlebox {
    top: 320px;
    border-style: double;
    border-width: 7px;
    border-color: $color-black;
    width: 340px;
    left: calc(50% - 340px / 2);
  }
  main {
    left: 210px;
    right: 210px;
  }
  .pic-chaekgeori {
    top: 852px;
  }
  .pic-chaekgeori figcaption {
    left: 350px;
    top: 600px;
  }
}
@media (--mobile) {
  .titlebox {
    top: 200px;
    width: 100%;
  }
  .pic-birds {
    visibility: hidden;
  }
  main {
    left: 30px;
    right: 30px;
  }
  .pic-chaekgeori {
    top: 700px;
  }
  .pic-chaekgeori figcaption {
    left: calc(50% - (190px / 2));
    top: 800px;
  }
}

.pic-birds {
  position: absolute;
  left: 0;
  top: -339px;
  figcaption {
    border-top: solid 1px black;
    padding: 10px;
    position: absolute;
    left: 167px;
    top: 1200px;
    text-align: center;
    width: 190px;
    @mixin font-content;
  }
}

.pic-chaekgeori {
  position: absolute;
  left: calc(50% - 339px/2);
  figcaption {
    border-top: solid 1px black;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 190px;
    @mixin font-content;
  }
}

.titlebox {
  position: absolute;
  height: 290px;

  h1, h2, h3, span, hr {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  h1 {
    font-size: 48px;
    font-weight: 800;
    height:82px;
    top: 70px;
  }
  h2 {
    @mixin font-header1;
    height: 48.85px;
    top: 130px;
  }
  span {
    left: 10px;
    height: 18px;
    top: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1.19em;
  }
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    top: 210px;
    color: $color-darkgray;
  }
  hr {
    top: 200px;
    width: 60%;
    left: 20%;
    border: solid .5px $color-black;
    /* width: 170px; */
  }
}

main {
  position: absolute;
  top: 1735px;
  article {
    white-space: pre-line;
    @mixin font-content;
  }
}

#title2 {
  position: relative;
  top: 100px;
  width: 100%;
  text-align:center;
  @mixin font-header2;
}

#stacksearch {
  position: relative;
  top: 200px;
  width: 270px;
  left: calc(50% - 270px / 2);
  input {
    position: absolute;
    left: 30px;
    @mixin font-content;
    width: 250px;
    border-bottom: .5px solid $color-gray;
    background-color: transparent;
    transition: .3s;
    margin-bottom: 20px;
  }
  input:hover, input:focus {
    background-color: $color-gray;
    border-bottom: .5px solid $color-black;
    transition: .3s;
  }
  img {
    position: absolute;
    width: 25px;
    height: 25px;
  }
}

.stack-tags {
  top: 300px;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    margin: 2px;
    padding: 10px;
    background-color: $color-gray;
    transition: .3s;
    border-radius: 20px;
    &:hover {
      background-color: $color-darkgray;
      color: $color-white;
      transition: .3s;
    }
  }
}

.stacks {
  position:relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.stack {
  top: 400px;
  position: relative;
  margin: 10px;
  list-style-type: none;
  img {
    width: 40px;
    height: 40px;
  }
}
