@import 'common.css';

.post--title1,
.post--title2,
.post--title-line,
.post--title-most-pop,
.post--content-most-pop,
.post--list {
  position: absolute;
}

@media (--desktop) {
  .post--title1 {
    top: 45px;
    left: 45px;
    @mixin font-header1;
  }

  .post--title2 {
    top: 70px;
    left: 185px;
  }

  .post--title-line {
    top: 107px;
    left: 40px;
    right: 40px;
  }

  .post--title-line {
    border: solid 0.5px $color-black;
  }

  .post--title-most-pop {
    left: 65px;
    top: 145px;
    @mixin font-header2;
  }

  .post--content-most-pop {
    left: 65px;
    top: 221px;
  }

  .post--searchbox {
    position: absolute;
    /* left: 45px; */
    top: 344px;
    /* width: 200px; */
  }

  .post--list {
    top: 400px;
    left: 65px;
    li {
      list-style-type:none;
      margin-top: 10px;
    }
  }
}

/* .post--searchbox {
  width: calc(100% - 200px) !important;
} */

.post--pagination {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  bottom: 65px;
  /* left: 65px; */
  width: 100%;
  /* max-width: 200px; */
}