@import 'common.css';

.page-work {
  background-color: $color-black;
}

.page-work * {
  color: $color-white;
}

@media (--desktop) {
  .work--title-main {
    left: 115px;
    top: 84px;
  }
  .work--title-sub {
    left: 117px;
    top: 128px;
  }
  .work--thumbnail {
    margin: 20px;
    width: 330px;
    height: 400px;
  }
  .work--thumbnail-list {
    padding: 150px 110px 110px 110px;
  }
}

@media (--mobile) {
  .work--title-main {
  }
  .work--title-sub {
  }
  .work--thumbnail {
    width: 100%;
  }
}

.work--title-main {
  position: absolute;
  @mixin font-header1;
}

.work--title-sub {
  position: absolute;
  @mixin font-content;
}

.work--thumbnail-list {
  box-sizing: content-box;
  min-height: 100vh;
  background-color: $color-black;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work--thumbnail {
  opacity: .5;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
}

.work--thumbnail-img {
  /* left :0;
  right :0;
  top: 0; */
  /* bottom: 18%; */
  width: 100%;
  height: calc(100% - 100px);
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* backgroundSize: 'cover',
  backgroundRepeat: 'no-repeat', */
}

.work--thumbnail-title {
  top: 20px;
  text-align: right;
}

.work--thumbnail-caption {
  text-align: right;
}