// main colors
$color-main: #3949ab;
$color-black: #424242;
$color-white: #fafafa;
$color-gray: #c0c0c0;
$font-main: 'Roboto', sans-serif;
$font-cond: 'Roboto Condensed', sans-serif;
$font-kr: 'Noto Sans KR', sans-serif;

body {
  font-family: $font-main;
  margin: 0;
  padding: 0;
  color: $color-black;
}

#menu {
  color: $color-white;
  background-color: rgba(0,0,0, .4);
  position: fixed;
  z-index:2;
  right: 0%;
  width: 0%;
  height: 0%;
  .menu--container {
    position: fixed;
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  .link {
    display:block;
    color:$color-white;
    text-decoration:none;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 15px;
    > img {
      transition: all .2s ease-in-out;
      width: 20px;
      &:hover {
        transform: scale(1.1);
      }
    }
    &.active > img{
      width: 30px;
    }
  }
  button {
    position:fixed;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border:none;
    width: 30px;
    height: 30px;
    .menu-visible {

    }
    .menu-hidden {

    }
  }
}
