@import '../styles/common.scss';

.titlebox {
  h1, h2, h3 {
    margin: 0;
  }
  h1 {
    font-size: 4rem;
  }
  padding-top: 20vh;
  padding-left: 30px;
  background-color: $color-main;
  color: $color-white;
  height: 80vh;
}
